*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(59, 58, 58);
    background-repeat: no-repeat;
}
.title{
    text-align: left;
    padding: 20px;
    margin-bottom: 40px;
    color: white;
    font-size: 35px;
    font-weight: 700;
    font-style: oblique;
    background-color: black;
    
}
.head{
    margin: auto;
}
i{
    color: #dc143c;
    padding: 10px;
}
.calculator{
    margin: auto;
    text-align: center;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    text-align: center;
    margin: auto;

}
.screen{
    margin: auto;
    width: 800px;
    height: 100px;
    text-align: start;
    color: white;
    border:solid rgb(248, 245, 245) 8px;
    border-bottom-width: 3px;
    background-color: black;
    font-size: 3rem;
    padding: 10px;

}
.btn{
    padding: 20px;
    font-size: 30px;
}
.btn-grey{
    width: 200px;

}
.btn-operator{
    width: 200px;
    font-size: 30px;
    background-color:rgb(218,165,32)
}
.btn-equal{
    width: 200px;
    background-color: #2e8b57;
}
.btn-clear{
    background-color: rgb(231, 59, 59);
    width: 800px;
    font-size: 30px;
    
}
.btn:hover{
    background-color: #4169e1;
}